*,*before,*::after{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: fit-content;
    font-family: 'Roboto',sans-serif;
}
#menu{
    width:100%;
    background-color: #021056;
    padding: 5px;
    height: 50px;
    position: relative;
    left: 0%;
    z-index: 1;

}
#menu_1{
    display: inline-block;
    width: 50%;
    line-height: 50px;
}
#logo{
    margin-top: -15px;
    height:80px;
    width: 150px;
    float: left;
}
#menu_1 h2{
    float: left;
    margin-left: -30px;
    line-height: 50px;
    color: white;
    font-family: 'Roboto',sans-serif;
}
#menu_2{
    float: right;
    margin-right: 50px;
    cursor:pointer;
    line-height: 50px;
}
#menu_2 ul{
    float: right;
    position:relative;
}
#menu_2 ul li{
    list-style: none;
    display: inline;
    margin-right: 5px;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
}
#menu_2 ul li a{
    text-decoration: none;
    color: #a0a0a0;
    position: relative;
    padding: 0px 5px;
    font-family: 'poppins',sans-serif;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    #menu_2 ul{
        position: fixed;
        width: 100vw;
        height: 200px;
        background-color: #2b05df;
        text-align: center;
        left: -100%;
        transition: all 0.5s;
        z-index: 1;
        top: 100px;
    }
    #menu_2 ul li{
        display: block;
    }
    #menu_2 ul li a{
        font-size: 20px;
    }
    #check:checked ~ #menu_2 ul{
        left:0%;
    }    
}
#menu_2 ul li a:after{
    content:"";
    position: absolute;
    background: linear-gradient(135deg, #a454fd, #2b05df);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
#menu_2 ul li a:hover:after{
    width: 100%;
}
#menu_2 ul li a:hover{
    color: white;
}
.submenu{
    display: none;
}
#menu_2 ul li:hover .submenu{
    display: block;
    position:absolute; 
    
    padding-top: 20px;
    margin-left:40px;
    background-color:#021056;
    height: 100px;
    width: 230px;
    z-index: 1;
    margin-top: -12px;
}
#menu_2 ul li:hover .submenu ul{
    display: block;
}
#menu_2 ul li:hover .submenu ul li{
    padding: 8px;
    text-align: center;
    margin-left: 6px;
}
#menu_2 ul li:hover .submenu ul li a{
    font-size: 23px;
}
#chap::after{
    background: none;
    
}
#heading{
    position:relative;
    left: 25%;
    width: 80%;
}
#heading img{
    width: 75%;
    height: 200px;
}
#topics{
    margin-top: 20px;
    width: 100%;
    position: relative;
    left: 6%;
}
#topics a{
    color: white;

}
#index{
    height: 100%;
    width: 20%;
    background-color: #021056;
    float: left;
    position: fixed;
    top:0px;
}
#index h1{
    padding-top: 80px;
    padding-bottom: 10px;
    margin-left: 25%;
    color: white;
}
#index ul li{
    font-size: 22px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10px;
}
#index ul li a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.design{
    background-color: #021056;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.design2{
    display: none;
}
#squarehead:hover .design2{
    display: block;
}
#squarehead2:hover .design2{
    display: block;
}
#squarehead3:hover .design2{
    display: block;
}
#areafor{
    clear: both;
    position: relative;
    left: 20%;
    margin-top: 50px;
    width: 80%;
}
#areafor h1{
    color: #021056;
    font-size: 45px;
    text-align: center;
    border: 2px solid #021056;
    border-radius: 20px;
    width: 20%;
    position: relative;
    left: 35%;
    margin-bottom: 80px;
}
#square{
    position: relative;
    left:2%;
    top: 30px;
    width: 75%;
}
#square h2{
    font-size: 40px;
}
#square img{
    margin-top: 30px;
    width: 200px;
    
}
#square #i2{
    margin-top: 70px;
}
#rec{
    position: relative;
    left: 2%;
    top: 100px;
}
 #rec h2{
    font-size: 40px;
}
#rec img{
    margin-top: 20px;
    width: 200px;
}
#rec #i3{
    margin-top: 20px;
    width: 220px;
}

#tri{
    position: relative;
    left: 2%;
    top:170px;
} 
#tri h2{
    font-size: 40px;
}
#tri img{
    margin-top: 50px;
    float: left;
    width: 200px;
}
#tri #i3{
    margin-top: 70px;
    width: 280px;
}

#cir{
    position: relative;
    left: -42%;
    top:400px;
}
#cir h2{
    font-size: 40px;
    position: relative;
    left:0px;
}
#cir img{
    width: 200px;
    margin-top: 30px;
}
#cir #i3{
    left: 220px;
    margin-bottom: 50px;
    width: 220px;
    
}




#par{
    position: relative;
    left: 3%;
    top: 450px;
}
#par h2{
    font-size: 40px;
}
#par img{
    margin-top: 30px;
    float: left;
    width: 200px;
    margin-right: 30px;
}
#par #i2{
    margin-top: 50px;
}

#pol{
    position: relative;
    top: 650px;
    right: 430px;
}
#pol h2{
    font-size: 40px;
}
#pol img{
    width: 200px;
    margin-right: 0px;
    float:left;
}
#pol h4{
    float: left;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 700px;
    margin-top: -160px;
    width: 100%;
}
#pol #h45{
    float: left;
    margin-top: -80px;
    font-size: 25px;
    width: 100%;
}



#gen{
    position: relative;
    left:-58%;
    top: 850px;
}
#gen h2{
    font-size: 35px;
}
#gen img{
    width: 200px;
    margin-right: 0px;
    float:left;
    margin-left: 650px;
    margin-top: -100px;
}
#gen #i2{
    margin-top: 50px;
    float: left;
    position: relative;
    left: 200px;
    bottom: 200px;
    width: 500px;
    height: 200px;
}
#peri{
    clear: both;
    position: relative;
    left: 20%;
    top: 700px;
    margin-top: 50px;
    width: 80%;
}
#peri h1{
    color: #021056;
    font-size: 45px;
    text-align: center;
    border: 2px solid #021056;
    border-radius: 20px;
    width: 23%;
    position: relative;
    left: 35%;
    margin-bottom: 80px;
}
#square2{
    position: relative;
    left:2%;
    top: 30px;
}
#square2 h2{
    font-size: 40px;
}
#square2 img{
    margin-top: 30px;
    width: 200px;
    
}
#square2 #i2{
    margin-bottom: 80px;
}
#rec2{
    position: relative;
    left: 2%;
    top: 50px;
}
#rec2 h2{
    font-size: 40px;
}
#rec2 img{
    margin-top: 20px;
    float: left;
    width: 300px;
}
#rec2 #i3{
    margin-top: 50px;
    width: 350px;
}

#tri2{
    position: relative;
    left: -58%;
    top: 250px;
}
#tri2 h2{
    font-size: 40px;
}
#tri2 img{
    margin-top: 50px;
    float: left;
    width: 200px;
    margin-right: -10px;
}
#tri2 h3{
    margin-top: 90px;
}



#sa{
    clear: both;
    position: relative;
    left: 20%;
    top: 1000px;
    margin-top: 50px;
    width: 80%;
}
#sa h1{
    color: #021056;
    font-size: 45px;
    text-align: center;
    border: 2px solid #021056;
    border-radius: 20px;
    width: 30%;
    position: relative;
    left: 35%;
    margin-bottom: 80px;
}
 #cube{
    position: relative;
    left: 1%;

}
#cube h2{
    font-size: 40px;
    
}
#cube img{
    position: relative;
    left: 3%;
    top: 20px;
    width: 400px;
}
#cube #i2{
    width: 260px;
}

#cuboid{
    position: relative;
    left: 1%;
    top: 50px;
}
#cuboid h2{
    font-size: 40px;
}
#cuboid img{
    position: relative;
    left: 2%;
    top: 20px;
    width: 300px;
}
#cuboid h3{
    margin-left: 350px;
    margin-top: -200px;
}

#cyl{
    position: relative;
    left: 1%;
    top: 90px;
}
#cyl h2{
    font-size: 40px;
}
#cyl img{
    position: relative;
    left: 2%;
    top: 20px;
}




@media (min-width:10px) and (max-width:767px) 
{   
    body{
        
    }
    #index{        
        display: none;
        width: 100%;
    }
    #heading{
        align-items: center;
        position: static;
        width: 100%;
        left: 0%;
    }
    #heading img{
        width: 100%;
    } 
    #areafor{
        width: 97%;
        left: 0%;
    }
    #areafor h1{
        color: #021056;
        font-size: 40px;
        border: 2px solid #021056;
        border-radius: 20px;
        width: 28%;
        position: relative;
        left: 0%;
        margin-bottom: 80px;
    }
    #rec{
       width: 97%;
    }
    #rec h2{
        font-size: 40px;
    }
    #tri{
        position: relative;
        top:100px;
        float: left;
        left: 3%;
    }
    #tri h2{
        font-size: 40px;
    }
    #tri #i3{
        width: 280px;
        margin-left: -50px;
    }
    #cir{
        position: relative;
        left: 3%;
        top:200px;
    }
    #cir h2{
        font-size: 40px;
    } 
    #cir #i3{  
        width: 180px;
        position: absolute;
        left: -10px;
        top: 600px;
    }
    
    #par{
        position: relative;
        left: 3%;
        top:350px;
    }
    #par h2{
        font-size: 32px;
    }
    #par img{
        margin-top: 30px;
        width: 160px;
    }
    #par #i2{
        margin-top: 150px;
        margin-left: -200px;
    }
    
    #pol{
        position: relative;
        left:-43%;
        top:600px;
        width: 100%;
        
    }
    #pol h2{
        font-size: 35px;
    }
    
    #pol h4{
        font-size: 25px;
        margin-left: 200px;
        margin-top: 50px;
        width: 90%;
    }
    #pol #h45{
        float: left;
        margin-top: 60px;
        font-size: 25px;
        width: 35%;
    }
    
    
    
    #gen{
        position: relative;
        left:2%;
        top:700px;
        bottom:10px;
        width: 95%;
    }
    #gen h2{
        font-size: 35px;
    }
    #gen img{
        width: 180px;
        margin-right: 0px;
        margin-left: 20px;
        margin-top: 50px;
    }
    #gen #i2{
        margin-top: 450px;
        margin-left: -420px;
        width: 410px;
    }

    #peri{
        top: 600px;
        left: 3%;
        width: 97%;
    }
    #peri h1{
        color: #021056;
        font-size: 45px;
        text-align: center;
        border: 2px solid #021056;
        border-radius: 20px;
        width: 60%;
        position: relative;
        left: 0%;
        margin-bottom: 80px;
    }
    #square2{
        position: relative;
        left:2%;
        top: 30px;
        width: 95%;
    }
    #square2 h2{
        font-size: 40px;
    }
    #square2 img{
        margin-top: 30px;
        width: 200px;
        
    }
    #square2 #i2{
        margin-bottom: 80px;
    }
    #rec2{
        width: 95%;
    }
    #tri2{
        position: relative;
        left: 1%;
        top: 200px;
        width: 97%;
    }
    #tri2 h2{
        font-size: 40px;
    }
    #tri2 img{
        margin-top: 50px;
        float: left;
        width: 200px;
        margin-right: -25px;
    }
    #tri2 h3{
        margin-top: 90px;
    }

    #sa{
        clear: both;
        position: relative;
        left: 2%;
        top: 1000px;
        margin-top: 50px;
        width: 80%;
    }
    #sa h1{
        color: #021056;
        font-size: 45px;
        text-align: center;
        border: 2px solid #021056;
        border-radius: 20px;
        width: 100%;
        position: relative;
        left: 0%;
        margin-bottom: 80px;
    }
     #cube{
        position: relative;
        left: 1%;
    
    }
    #cube h2{
        font-size: 40px;
        
    }
    #cube img{
        position: relative;
        left: 3%;
        top: 20px;
        width: 300px;
    }
    #cube #i2{
        width: 260px;
    }
    
    #cuboid{
        position: relative;
        left: 1%;
        top: 50px;
    }
    #cuboid h2{
        font-size: 40px;
    }
    #cuboid img{
        position: relative;
        left: 2%;
        top: 20px;
        width: 300px;
    }
    #cuboid h3{
        margin-left: 25px;
        margin-top: 50px;
    }
    #menu_1 h2{
        font-size: 20px;
        display: none;
    }
    #menu{
        width: 98%;
    }
    #cyl #i2{
        width: 97%;
    }
}